<div class="container">
  <div class="row">

    <div>
      <input id="search-input" type="text"
            [(ngModel)]="inputCampaignId"
            (ngModelChange)="onChange($event)">
            
      <span class="glyphicon glyphicon-search"></span>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">

      <app-client-list-item *ngFor="let client of allClientsList" 
                            [client]="client"
                            [clientId]="client.contact.email">
      </app-client-list-item>
    
    </ul>
  </div>
</div>
