/* You can add global styles to this file, and also import other style files */
#img-thumbnail {
    max-height: 50px;
    max-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

#profile-img {
    padding-top: 30px;
    max-height: 128px;
    max-width: 128px;
}
